.App {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 0 auto;
  
}

.App-header {
  background-color: #e2e2e2;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: navy;
}

.App-link {
  color: #61dafb;
}

h3{
  min-width: 100%;
  margin: 0.2rem auto;
}
label{
  font-weight: 400;
}

input{
  display: block;
  width: 90%;
  padding: 10px;
  margin: 10px auto;
  border: 1px solid rgb(200, 200, 200);
}

.btn{
  margin: 10px 0 30px;
  font-size: 16px;
  border: 0px;
  padding: 10px;
  display: block;
  width: 100%;
  background-color: aquamarine;
}

.form-control{
  
}

.section{
  margin-top: 1.5em;
}
.header-section{
  margin: 0.5rem 0;
  border-bottom: 1px solid #bbb;
}

.item-history{
  display: flex;
  justify-content: space-between;
  background-color: white;
}

.item-status{
  width: 2px;
  background-color: green;
}
.item{
  margin: 0.5em;
}

